/* Responsive Design */

@media (max-width: 425px) {
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-card__image{
        width: 17.5rem; 
        height: 17.188rem; 
        border-top-left-radius: 0.625rem; 
        border-top-right-radius: 0.625rem; 
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .product-card__details {
        background-color: var(--cor-fundo-info);
        width: 17.5rem; 
        padding: 1.563rem; 
        gap: 0.938rem; 
        border-radius: 0.625rem; 
    }

    .product-card__category {
        font-size: 0.5rem; 
    }

    .product-card__title {
        font-size: 1.563rem; 
        line-height: 1.75rem; 
    }

    .product-card__description {
        font-size: 0.719rem; 
        line-height: 1.125rem; 
    }

    .product-card__price--current {
        font-size: 1.625rem; 
    }

    .product-card__price--old {
        font-size: 0.625rem; 
    }

    .product-card__add-to-cart {
        padding: 0.625rem; 
    }

    .product-card__add-label {
        font-size: 0.75rem; 
    }

    .product-card__cart-icon {
        width: 0.625rem; 
    }

}