body {
    background-color: var(--cor-fundo);
}

.product-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card {
    display: flex;
    height: 450px;
    background-color: var(--cor-fundo-info);
    border-radius: 0.625rem; 
}

.product-card__details {
    padding: 1.875rem; 
    width: 18.75rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card__category {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem; 
    letter-spacing: 0.313rem;
    text-transform: uppercase;
    color: var(--cor-texto);
    font-weight: 500;
}

.product-card__title {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    line-height: 2.125rem; 
    color: var(--cor-title);
    font-weight: 700;
}

.product-card__description {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem; 
    color: var(--cor-texto);
    font-weight: 500;
}

.product-card__pricing {
    display: flex;
    align-items: center;
    gap: 1.25rem; 
    font-family: "Fraunces", serif;
}

.product-card__price--current {
    font-size: 2rem; 
    color: var(--cor-verde-primaria);
}

.product-card__price--old {
    font-size: 0.875rem; 
    color: var(--cor-texto);
    font-weight: 500;
    text-decoration: line-through;
}

.product-card__image {
    width: 18.75rem; 
    height: 28.125rem; 
    border-top-left-radius: 0.625rem; 
    border-bottom-left-radius: 0.625rem; 
}

.product-card__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem; 
    padding: 0.938rem;
    background-color: var(--cor-verde-primaria);
    border-radius: 0.313rem;
    transition: background-color 0.6s ease-in-out;
}

.product-card__add-to-cart:hover {
    background-color: var(--cor-verde-hover);
}

.product-card__add-label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem; 
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.product-card__cart-icon {
    width: 0.938rem; 
}

